/* Universal Styles*/
html{
  font-size: 18px;
  background-color: white;
}
body{
  font-family: Helvetica,sans-serif;
  width: auto;
  margin: 0 0 0 0;
}
h1,
h4{
  font-weight: bold;
}

header{
background-color: black;
color: white;
}

header .Company{
  max-width:960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding:.66rem 0 .66 .55rem
}

.logo{
display: flex;
align-items: center;
padding:.66rem 0 .66 .55rem
}

.logo img{
  height: 1.5rem;
  padding-right: 1rem;
}

.MOTORCYCLES{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
       background-repeat:no-repeat;
       background-position: center;
       background-size: cover;
       height: 25rem;
}

.new-arrivals{
  background-color: black;
  color:white;
  width:20rem;
  padding:2rem 3rem;
  position: relative;
  top:9rem;

}
Sports h1{
  font-family: Helvetica;
  font-size: 2rem;
  font-weight: bold;
  margin:0 .25rem 0;
}
@media only screen and (max-width:1024px) {
  .Sports h1{
    font-size:1.5rem
  }


}
@media only screen and (max-width:470px){
  header {
    height: 15rem;
  }
  .new-arrivals{
    width:100px;
    padding:1rem 2rem;
    top:10rem;
  }
  .Sports h1{
  font-size: 1rem;
  font-family: Helvetica;
  font-weight:bold;
  }


}

/*nav*/
nav{
  color:white;
  background-color: firebrick;
}
nav ul{
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 0.75rem 0;
  list-style: none;
  margin: 0px 8px;
  padding-left: 3rem;
  padding-right: 3rem;
}
.mobile-nav{
  display: none;
}
@media only screen and (max-width:1024px){
nav ul{
  display:none;
  }
  .mobile-nav{
    display: block;
    text-align: center;
  }
}


/*Products*/
.products,
.BUSINESS-INFO
{
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 0 0;
}
.product{
  width: 30%;
}
.product-image {
  border: 4px solid black;
  padding: 2rem 0;
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-image img{
  max-width: 8rem;
}
.description {
  display: block;
  background-color: black;
  color:white;
  text-align: center;
  padding:0.5em;

}

.info{
  width:35%;
}

.info .title{
display: block;
background-color: black;
color: white;
padding: 1rem 2rem;
}
@media only screen and (max-width:1024px){
  .product{
    width: 47%;
  }
  .product.glasses{
    display: none;
  }

  .info {
    width:35%;

}
}

@media only screen and (max-width:470px){
  .prouducts,
  .BUSINESS-INFO{
    flex-wrap: wrap;
  }
  .product{
    margin: auto;
    width: 90%
  }
  .product.watch{
    display: none;
  }
  .info{
    width:90%;
    margin: 0.5rem auto;
  }
}
footer{
  background-color: black;
  height: 5rem;
  color: white;
  text-align: left;
  margin-top: 4rem;
  padding: 3rem;
}
@media only screen and (max-width:478px){
  footer{
    text-align: center;
  }
}
